<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document Management</title>
</head>

<body>
    <div class="container">
        <!-- Output Results Above -->
        <div class="results">
            <p id="output">{{ result }}</p>
        </div>

        <!-- Form for searching with a prompt or uploading file -->
        <form action="/" method="post" enctype="multipart/form-data">
            <!-- Tabs to switch between inputting a file or inputting text -->
            <div class="tabs">
                <button type="button" class="tab-button active" onclick="showTab('text')">Text Input</button>
                <button type="button" class="tab-button" onclick="showTab('file')">File Input</button>
            </div>

            <!-- Input  -->
            <div class="input-section" id="textInput">
                <textarea id="prompt" name="prompt" placeholder="Enter your prompt here..."></textarea>
            </div>

            <div class="input-section" id="fileInput" style="display: none;">
                <input type="file" name="input_file">
            </div>

            <button type="submit" class="button-green">Submit</button>

            <button type="submit" class="button-red" name="clear_dbs_button">X-CLEAR_DBS-X</button>
        </form>
    </div>
    <script>
        function showTab(tabName) {
            if (tabName === 'text') {
                document.getElementById('textInput').style.display = 'block';
                document.getElementById('fileInput').style.display = 'none';
            } else if (tabName === 'file') {
                document.getElementById('textInput').style.display = 'none';
                document.getElementById('fileInput').style.display = 'block';
            }
        }
    </script>
</body>

</html>
